body {
 margin: 0;
 padding: 0;
 background-color: bisque;
}


.bg {
 padding-bottom: 10px; 
}

.title {
 font-family: "Bebas Neue", sans-serif;
 display: flex;
 justify-content: end;
 margin-top: -120px;
 font-size: 100px;
 margin-right: 100px;
 margin-bottom: -10px;
 color: darkred;
 margin-left: 530px;
}

.title:hover {
 -webkit-text-stroke: 2px;
 -webkit-text-stroke-color: darkred;
 color: white;
 font-style: italic;
}

.cakelogo {
 width: 150px;
 height: 150px;
 display: flex;
 margin-left: 50px;
 @media only screen and (max-width: 480px) {

 }
}

.nav {
 display: flex;
 background-color: darkred;
 justify-content: end;
 padding: 25px;
 @media only screen and (max-width: 480px) {
 background-color: white;
 }
}

.nav ul a{
 color: white;
 font-family: arial;
 font-weight: bold;
 text-decoration: none;
 padding-left: 10px;
 padding-right: 10px;
 @media only screen and (max-width: 480px) {
  color: darkred;
  display: flex;
  flex-direction: row;
  font-size: 20pt;
 }
}

.bg1 {
 background-color: red;
 padding: 20px;
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
}

ul {
 display: flex;
 justify-content: space-evenly;
 margin: 20px;
}
.box1 {
 background-color: white;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 20px;
 margin-left: -50px;
 display: flex;
 border: 8px white solid;
}

.camp {
 width: 300px;
}

.bis{
 width: 300px;
}

.box2 {
 background-color: white;
 display: flex;
 margin: 20px;
 border: 8px white solid;
}

.cret {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 30px;
 list-style: none;
 color: white;
 padding-right: 100px;
 margin-left: -100px;
 margin-top: 200px;
}

footer {
 display: flexbox;
 background-color: black;
 color: white;
 padding-top: 20px;
 padding-bottom: 20px;
}

.creator {
 justify-self: center;
 font-weight: lighter;
 font-family: arial;
 font-size: 12px;
}

.locate {
 justify-self: flex-end;
 font-weight: lighter;
 font-family: arial;
 font-size: 12px;
 margin-right: 20px;
}

.tel {
 justify-self: flex-end;
 font-weight: lighter;
 font-family: arial;
 font-size: 12px;
 margin-right: 20px;
}