body {
 margin: 0;
 padding: 0;
 background-color: bisque;
 @media only screen and (max-width: 480px) {
  background-color: darkred;
 }
}

.bg {
 padding-bottom: 10px; 
}

.title {
 font-family: "Bebas Neue", sans-serif;
 display: flex;
 justify-content: end;
 margin-top: -120px;
 font-size: 100px;
 margin-right: 100px;
 margin-bottom: -10px;
 color: darkred;
 margin-left: 530px;
 @media only screen and (max-width: 480px){
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: end;
  margin-top: -120px;
  font-size: 50px;
  margin-right: 10px;
  margin-bottom: -10px;
  color: white;
  margin-left: 10px;
 }
}

.title:hover {
 -webkit-text-stroke: 2px;
 -webkit-text-stroke-color: darkred;
 color: white;
 font-style: italic;
}

.cakelogo {
 width: 150px;
 height: 150px;
 display: flex;
 margin-left: 50px;
 @media only screen and (max-width: 480px) {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  padding-bottom: 50px;
  margin-right: 50px;
  margin-left: 5px;
 }
}

.nav {
 display: flex;
 background-color: darkred;
 justify-content: end;
 padding: 25px;
 @media only screen and (max-width: 480px) {
  background-color: white;
  width: 85%;
  flex-direction: row;
  justify-content: center;
  }
}

.nav ul {
 @media only screen and (max-width: 480px) {
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
 }
}

.nav ul a{
 color: white;
 font-family: arial;
 font-weight: bold;
 text-decoration: none;
 padding-left: 10px;
 padding-right: 10px;
 @media only screen and (max-width: 480px) {
  color: darkred;
  display: flex;
  flex-direction: row;
  font-size: 20pt;
 }
}

.bg1 {
 background-image: url(../image/background.jpg);
 background-size: cover;
 width: 100%;
 padding-bottom: 300px;
 @media only screen and (max-width: 480px) {
  width: 100%;
  
 }
}

.wel {
 list-style: none;
 font-family: arial;
 font-size: 60px;
 font-style: italic;
 color: darkred;
 font-weight: bold;
 padding-top: 200px;
 margin-left: 20px;
 @media only screen and (max-width: 480px) {
  font-size: 30px;
  padding-top: 50px;
 }
}

.wel:hover {
 font-style: normal;
}

.fav {
 font-size: 30px;
 font-family: arial;
 list-style: none;
 font-weight: bold;
 margin-left: 50px;
 font-style: italic;
 color: white;
 -webkit-text-stroke: 1px;
 -webkit-text-stroke-color: darkred ;
 @media only screen and (max-width: 480px) {
  font-size: 20px;
 }
}

.fav:hover {
 color: darkred;
}

.wel1 {
 list-style: none;
 font-family: arial;
 font-size: 30px;
 display: flex;
 margin-left: 30px;
 margin-right: 670px;
 font-style: italic;
 @media only screen and (max-width: 480px) {
  font-size: 20px;
  margin: 0;
  margin-left: 20px;
 }
}

.fet {
 color: white;
 display: flex;
 font-size: 70px;
 font-family: "Bebas Neue", sans-serif;
 background-color: darkred;
 border: 1px red solid;
 justify-self: center;
 text-align: center;
 width: 200px;
 padding-left: 15px;
 border-top-left-radius: 40px;
 border-bottom-right-radius: 40px;
 @media only screen and (max-width: 480px) {
  font-size: 40px;
  justify-self: center;
  text-align: center;
  padding: 10px;
  width: 40%;
 }
}

.box {
 background-color: darkred;
 background-image: linear-gradient(darkred, red, darkred);
 padding-top: 50px;
 margin: 10px;
 display: flex;
 justify-content: space-evenly;
 flex-direction: column;
 border-top-left-radius: 100px 40px;
 border-bottom-right-radius: 100px 40px;
 padding-bottom: 30px;
 @media only screen and (max-width: 480px) {
  width: 100%;
  flex-direction: column;
  margin: 10px;
 }
 
}

.tubcake {
 width: 250px;
 margin-top: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 250px;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.triocake {
 width: 250px;
 justify-self: center;
 align-self: center;
 margin-top: -348px;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.jumbocake {
 width: 250px;
 height: 250px;
 margin-right: 250px;
 margin-top: -348.5px;
 margin-bottom: 70px;
 margin-left: 20px;
 justify-self: flex-end;
 align-self: flex-end;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.wedcake {
 width: 250px;
 height: 250px;
 margin-right: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 250px;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.bdaycake {
 width: 250px;
 height: 250px;
 justify-self: center;
 align-self: center;
 margin-top: -349px;
 margin-bottom: 20px;
 margin-right: 20px;
 margin-left: 20px;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }

}

.yema {
 width: 250px;
 height: 250px;
 justify-self: flex-end;
 align-self: flex-end;
 margin-top: -348px;
 margin-right: 250px;
 margin-bottom: 70px;
 @media only screen and (max-width: 480px) {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info1 {
 background-color: red;
 width: 70px;
 margin-left: 325px;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-right: 20px;
 justify-self: center;
 padding: 10px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info2 {
 background-color: red;
 width: 70px;
 margin-top: 40px;
 margin-left: 20px;
 margin-bottom: 20px;
 margin-right: 20px;
 justify-self: center;
 align-self: center;
 text-align: center;
 padding: 10px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info3 {
 background-color: red;
 text-decoration: none;
 width: 70px;
 margin-top: -30px;
 margin-left: 20px;
 margin-bottom: 20px;
 margin-right: 325px;
 justify-self: flex-end;
 align-self: flex-end;
 padding: 10px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info4 {
 background-color: red;
 width: 70px;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: 325px;
 margin-right: 20px;
 justify-self: flex-start;
 padding: 10px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info5 {
 background-color: red;
 width: 70px;
 justify-self: center;
 align-self: center;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-top: 20px;
 padding: 10px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}

.info6{
 background-color: red;
 width: 70px;
 padding: 10px;
 justify-self: flex-end;
 align-self: flex-end;
 margin-right: 325px;
 margin-top: -25px;
 border-radius: 10px;
 outline: 1px darkred solid;
 text-decoration: none;
 @media only screen and (max-width: 480px) {
  margin: 0;
  margin-top: 10px;
  align-self: center;
 }
}
footer {
  display: block;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
 }
 
 .creator {
  justify-self: center;
  font-weight: lighter;
  font-family: arial;
  font-size: 12px;
 }
 
 .locate {
  justify-self: flex-end;
  font-weight: lighter;
  font-family: arial;
  font-size: 12px;
  margin-right: 20px;
 }
 
 .tel {
  justify-self: flex-end;
  font-weight: lighter;
  font-family: arial;
  font-size: 12px;
  margin-right: 20px;
 }

@media only screen and (max-width: 480px) {
  footer {
    display: block;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 300px;
    width: 100%;
    padding-right: 20px;
   
   }
   
   .creator {
    justify-self: center;
    font-weight: lighter;
    font-family: arial;
    font-size: 15px;
    margin-left: 20px;
   }
   
   .locate {
    justify-self: flex-end;
    font-weight: lighter;
    font-family: arial;
    font-size: 7px;
    margin-right: 10px;
   }
   
   .tel {
    justify-self: flex-end;
    font-weight: lighter;
    font-family: arial;
    font-size: 7px;
    margin-right: 10px;
   }
}

